<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.nickname %></strong>
    <i><%= (message.created_at - 18000).strftime("%A, %d %B %Y, (%H:%M)") %></i>
  </small>
  <p><%= message.content %></p>
</div>
