@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container-rv{
  background: linear-gradient(#11273C, #169579);
  height: 100%;
  display: flex;
  justify-content: center;
}
.conatiner-rvw, .review-box{
 background-color:  #D9D9D9;
}
.rvw{
  margin: 5rem;
  padding: 3rem;
  color: black;
  border: transparent;
  border-radius: 1rem;
  background: #D9D9D9;
  box-shadow: 0 .5rem 1rem  #1aab8b;
}
.v h1{
  font-size: 3rem;
  font-weight: bolder;
}
.v h4{
  display: flex;
  margin-top: 2.3rem;
  font-weight: lighter;
}
.v{
  // margin-top: 3rem;
}
.v .star-widget-rv{
margin-top: 4rem;
}
.v h3{
  display: flex;
  margin-top: 3rem;
  margin-bottom: -3rem;
}
.v h2{
  display: flex;
  margin-bottom: -5rem;
  font-size: 2rem;
  font-weight: bold;
}
.container-rv .star-widget-rv input{
  display: none;
}
.star-widget-rv label{
  font-size: 40px;
  color:#ffffff;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd5;
}
input:checked ~ label{
  color: #fd5;
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
.container form{
  // display: none;
}
input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
.textarea-review{
  height: 150px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 .3rem .8rem  #1aab8b;
  border-radius: 1rem;

}
.textarea-review textarea{
  height: 100rem;
  width: 100%;
  outline: none;
  border: transparent;
  border-radius: 1rem;
  background: #ffffff;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
form .btn-review{
  height: 60px;
  width: 100%;
  margin: 15px 0;
  margin-top: 1.5rem;

}
form .btn-review .btn-submit, form .btn, .btn-booking{
  border: transparent;
  border-radius: 1rem;
  outline: none;
  background:#1aab8b;
  color: white;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 10px;
}

form .btn-review .btn-submit {
  height: 100%;
  width: 100%;
}

form .btn-review .btn-submit:hover{
  background:#029680;
}

.btn-chat {
  margin-bottom: -40px;
}
