// Specific CSS for your home-page
// Variables

:root {
  --tipografy-talenty1: 'Arial';
  --color-talenty_primary:#11273C;
  --color-talenty_setario: #EDF0F5;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body{
  background: #EDF0F5;
}
//INICIANDO

.container-home-talenty{
  width: 100%;
  // height: 1067px;
  background: var(--color-talenty_primary);
  // position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.changue{
  position: relative;
  display: flex;
  flex-direction: row;
  // border: solid 3px red;
  height: 117px;
  justify-content: space-around;
  margin-top: 78px;
  margin-bottom: 43px;
  width: 100%;

}
.box-talenty{
  // border: solid 4px gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-talenty h3{
  font-family: var(--tipografy-talenty1);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
}
.cards-talenty{
  width: 1283px;
  // height: 766px;
  border: solid 4px rgb(162, 25, 25);
  margin-bottom: 46px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card-talenty{
  width: 368px;
  height: 333px;
  margin: 28px;
  background: #C3CAD4;
  border-radius: 9.80963px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-talenty img{
  width: 342px;
  height: 259px;

}
.card-talenty h6{
  font-family: var(--tipografy-talenty1);
  font-weight: 900;
  font-size: 28.9283px;
  line-height: 43px;
  color: #11273C;
  text-align: center;
}





///Crousel
.slide-content {
  margin: 12px;
  width: 250px;
  height: 140px;
  background-color: lightgray;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.text-center{
color: #11273C;
}

.imagen {
width: 100%;
object-fit: cover;
}

.slid-er {
  margin: auto;
  overflow: hidden;
  width: 100%;
}

.slid-er .slides {
  display: flex;
}

.slid-er .slide {
  width: 258px; /* slide-content width + margin */
}

.button-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: opacity 0.25s;
}

.button-container:hover {
  opacity: 1;
}

.button-container:hover .button {
  transform: translate(-50%, -50%);
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 12px));
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.25s;
  padding: 0 8px;
  border-radius: 12px;
  color: white;
  outline: 2px solid transparent;
}

.button:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
  filter: invert(1);
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 0 2px gray;
}
