a {
  text-decoration: none;
}

.no-style-list {
  list-style-type: none;
  padding-left: 0;
}

body {
  background-size: cover;
display: flex;
min-height: 100vh;
flex-direction: column;
justify-content: space-between;
}
