<% if @booking.review.nil? && @booking.status && @booking.service.user != current_user %>
  <h2>Review</h2>
  <%= render "reviews/form", review: @review, booking: @booking %>
<% elsif @booking.review %>
  <h2>Review</h2>
  <p><%= @review.content %> <strong>(<%= @review.rating %>/5)</strong></p>
  <div class="review-box">
      <div class="caja-top">
        <div class="perfil">
          <div class="perfil-i1">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm69urnMPSq0puSOqaFX85h4Xv9LgOBuzeqwn_APJdVoNwk5MbjiO5o5I3z47js3I6oRc&usqp=CAU" alt="">
          </div>
            <div class="name-user">
              <strong>Camilo botero</strong>
              <p>Buen trabajo y excelente servicio</p>
            </div>
        </div>
        <div class="reviews">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
      </div>
    </div>
<% end %>
