
<div class="container-b container">
  <div class="row">
    <div class="col-6 col-md-6 col-lg-6">
      <h3 class="title-C text-center">Customer Bookings</h3>
        <%= render "customer_list", bookings: @customer_bookings %>
    </div>
    <div class="col-6 col-md-6 col-lg-6">
      <h3 class="title-W text-center">Worker Bookings</h3>
        <%= render "worker_list", bookings: @worker_bookings %>
    </div>
  </div>
</div>
