<div class="container-talenty-banner " >

  <div class="text-and-icon-talenty-banner">

    <div class="text-talenty-banner">
      <h1>Talenty</h1>
      <h3>Connecting home needs with human talent</h3>
      <div class="aliear-talenty">
        <p>Filter here the category you want to find, we are here to</p>
        <p>  facilitate your ideal employee</p>
      </div>

    </div>

    <div class="icon_logo_talenty_banner">
      <%= image_tag "icon2-talenty"%>
    </div>

  </div>



</div>
