<div class="footer-talenty">

  <div class="up-talenty" >

    <div class="icons-green">
      <img src="assets/instagran.svg" alt="">
      <img src="assets/youtube.svg" alt="">
      <img src="assets/face.svg" alt="">
    </div>

    <div class="titulo">
      <img src="assets/talenty.svg" alt="">
    </div>

    <div class="icons-green">
      <img src="assets/linkedin.svg" alt="">
      <img src="assets/instagran.svg" alt="">
      <img src="assets/youtube.svg" alt="">
    </div>

  </div>


  <div class="down-talenty" >
    <div>
        <img src="assets/tel.svg" alt="">
        <img src="assets/email.svg" alt="">
        <img src="assets/locate.svg" alt="">
    </div>
  </div>

</div>
