<div  class= "titulo-home" >
  <div class="texto-home">
    <div>
      <h1>Talenty</h1>
    </div>
    <div>
      <h3>Connecting home needs with human talent</h3>
    </div>
    <div>
      <h6>Here you can filter the category you need, we are here to facilitate household chores</h6>
    </div>
  </div>
  <div>
    <%= image_tag "banneer.svg" %>
  </div>
</div>
