<div  class= "titulo-home" >
  <div class="texto-home">
    <div>
      <h1>Talenty</h1>
    </div>
    <div>
      <h3>Connecting home needs with human talent</h3>
    </div>
    <div>
      <p class="h6 font_text">Here you can filter the category you need, we are here to facilitate household chores</p>
    </div>
  </div>
  <div>
    <%= image_tag "banneer" %>
  </div>
</div>
