<div class="carousel-talenty py-4">
   <h2 class="text-center"> Talenty Human</h2>
    <div class="container">
      <div class="slid-er">
        <div class="slides" id="slides">
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <img src="assets/baby.jpg" class="imagen" />
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <img src="assets/albanil.jpg" class="imagen" />
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <img src="assets/electricista.jpg" class="imagen"/>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <img src="assets/jardinero.jpg" class="imagen"/>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <img src="assets/niñera.jpg" class="imagen" />
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="" >
                <img src="assets/oficios.jpg" class="imagen"/>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <img src="assets/pintor.jpeg" class="imagen"/>
              </a>
            </div>
          </div>
          <!-- Mirror content -->
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <img src="assets/soldador.jpg" class="imagen"/>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <img   src="assets/jardin.jpg" class="imagen" />
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <img   src="assets/electr.jpeg" class="imagen" />
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <img   src="assets/limpie.jpg" class="imagen" />
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <img   src="assets/soldadura1.jpg" class="imagen" />
              </a>
            </div>
          </div>
          </div>
        </div>
      </div>
  </div>
</div>
