<% @categories.each do |category| %>
  <%= link_to category_path(category.name) do %>
    <div class="card-talenty">
      <img src="assets/<%= category.name.gsub(/\s+/, "").downcase %>.png" alt="">
      <h6><%= category.name %></h6>
  </div>
  <% end %>
<% end %>
