.footer-talenty{
  width: 100%;
  height: 230px;
  background:var(--color-talenty_primary);
  //border: solid red 3px;
  // position: absolute;
}
.up-talenty{
  //border: solid rgb(34, 29, 141) 3px;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 41px;
  position: relative;
}
.down-talenty{
 // border: solid rgb(107, 141, 29) 3px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
}
.down-talenty div{
  width: 549px;
  display: flex;
  justify-content: space-between;
}
.icons-green{
  width: 316px;
 // border: solid rgb(179, 173, 72) 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titulo{
  display: flex;
  align-items: center;
}

.footer{
  // background: #0D0E1F;
  // display: flex;
  // flex-direction: flex;
  // align-items: center;
  // justify-content: space-between;
  min-height: auto;
  // padding: 38px 200px;
  // color: white;
  // border: solid rgba(11,5,5,0.783) 4px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
}
