.message-row {
  margin-bottom: 10px;
  padding: 8px;

}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 10px;
  padding: 8px;
  min-height: 80px;

}

.sender-style {
  background-color: #1CBA97;
  color: white;
  font-family: arial;
}

.receiver-style {
  background-color:#11273C;
  color: white;
  font-family: arial;
}

.xx{
 border-radius: 20px;
 background: #11273C;
 width: 150px;
 color: white;
}
